<section class="li_section li_map pr-li">
    <div>
        <div class="w-layout-blockcontainer w-container">
            <div class="li_map-wrapper">
                <div class="li_wrapper">
                    <h2 class="li_heading-h2 pmc_white">Discover Our Global Impact</h2>
                    <div class="li_nem-wrapper">
                        <!-- Learners -->
                        <div id="w-node-_2894afef-04dd-da24-29af-da75ec227feb-fb037079" class="li_number-wrap">
                            <img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf904_Rectangle%204838%20(1).webp" 
                                 alt="Number of Learners Enrolled in Our Programs" 
                                 class="image-571">
                            <div class="w-layout-hflex li_h-flex">
                                <div class="li_mentor-name-copy li_number li_number1"></div>
                                <div class="li_mentor-name-copy">K+</div>
                                <div class="li_text-large">Learners</div>
                            </div>
                        </div>
                        <!-- Countries -->
                        <div class="li_number-wrap">
                            <img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf902_Rectangle%204837%20(1).webp"
                                 alt="Number of Countries Where We Operate" 
                                 class="image-571">
                            <div class="w-layout-hflex li_h-flex">
                                <div class="li_mentor-name-copy li_number li_number2"></div>
                                <div class="li_mentor-name-copy">+</div>
                                <div class="li_text-large">Countries</div>
                            </div>
                        </div>
                        <!-- Rating -->
                        <div class="li_number-wrap">
                            <img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf906_Rectangle%204839%20(1).webp"
                                 alt="Rating of Our Programs by Learners" 
                                 class="image-571">
                            <div class="w-layout-hflex li_h-flex">
                                <div class="li_mentor-name-copy li_number li_number3"></div>
                                <div class="li_text-large">Rating</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
