<div class="content">
  <section class="top-cards">
    <!-- <h2 class="student-title">Student Information</h2> -->
    <div class="card-container">
      <mat-card *ngFor="let item of topItems" class="card" [ngClass]="{'selected': item.course === selectedCourse}"
      [ngStyle]="{'background-color': item.color}"  (click)="onCourseClick(item.course)">
        <div class="courses">
          <div>
            <p class="title">{{item.course}}</p>
            <!-- <p class="title" *ngIf="item.course=='Manual & Automation Testing'">Testing</p> -->
          </div>
          <div>
            <i class="{{item.icon}} course-icon"  [ngStyle]="{'color': item.iconColor}"></i>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
  <div>
    
  </div>
  <!-- <h2 class="student-title">Students Information</h2> -->
  
  <section class="student-table">
    <div class="dropdown-container">
      <div class="filters">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Students">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Batch</mat-label>
          <mat-select [(value)]="selectedBatch" (selectionChange)="onBatchChange()">
            <mat-option *ngFor="let batch of batches" [value]="batch">{{batch}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Filter by Feedback</mat-label>
          <mat-select [(value)]="selectedFeedback" (selectionChange)="onFeedbackChange()">
            <mat-option *ngFor="let feedback of feedbackOptions" [value]="feedback">
              {{ feedback }}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="fill">
          <mat-label>Payment Status</mat-label>
          <mat-select [(value)]="selectedPaymentStatus" (selectionChange)="onPaymentStatusChange()">
            <mat-option *ngFor="let status of paymentStatuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Placement Status</mat-label>
          <mat-select [(value)]="selectedPlacementStatus" (selectionChange)="onPlacementStatusChange()">
            <mat-option *ngFor="let status of placementStatuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>  
        <mat-icon class="refresh-icon" (click)="refreshData()" mat-ripple>refresh</mat-icon>  
        <mat-icon class="refresh-icon download" (click)="downloadReport()">download</mat-icon>   
        <mat-icon class="refresh-icon"  (click) = addNewStudent()>add</mat-icon>
      </div>    
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="filteredStudents" matSort> 
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let student">{{student.name }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let student">{{student.email}}</td>
        </ng-container>
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
          <td mat-cell *matCellDef="let student">{{student.course}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let student">
            <button class="edit" (click)="editStudent(student)">
              <!-- <mat-icon class="blue-icon">drive_file_rename_outline</mat-icon> -->
              <i class="fa fa-pencil blue-icon"></i>
            </button>
            <button *ngIf="role=='Admin'" class="edit" (click)="deleteStudent(student)">
              <!-- <mat-icon class="red-icon">delete_forever</mat-icon> -->
              <i class="fa fa-trash red-icon"></i>
            </button>
          </td>
        </ng-container>
       <ng-container matColumnDef="Payment">
          <th mat-header-cell *matHeaderCellDef>Payments</th>
          <td mat-cell *matCellDef="let student">
            <button class="badge-button" [ngClass]="{ 
                  'partial-payment': getLastPaymentStatus(student) === 'Partially Paid',
                  'complete-payment': getLastPaymentStatus(student) === 'Completed',
                  'not-paid': !getLastPaymentStatus(student) || getLastPaymentStatus(student) === 'Not Paid'  
                }" (click)="openPaymentDialog(student)">
              {{ getLastPaymentStatus(student) || 'Not Paid' }}
            </button>
            <button class="email-btn" (click)="sendEmail(student)"><i class="fa fa-envelope"></i></button>            
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalRecords" [pageSize]="limit" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
        (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </section>