<div class="enroll-container">
    <div class="icon whatsapp-icon">
        <i class="fab fa-youtube"><a href="https://www.facebook.com/CodemindTechnologyLLP/"></a></i> 
    </div>
    <div class="icon linkedin-icon">
        <i class="fab fa-linkedin"><a href="https://www.linkedin.com/company/codemind-technology/"></a></i>
    </div>
    <div class="icon instagram-icon">
        <i class="fab fa-instagram"><a href="https://www.instagram.com/codemind_technology_official/"></a></i> 
    </div>
    <div class="icon facebook-icon">
        <i class="fab fa-facebook-f"><a href="https://www.facebook.com/CodemindTechnologyLLP/"></a></i> 
    </div>
    <button class="enroll-btn" (click)="navigateToEnroll()">Enroll Now</button>
</div>
