<section class="li_section li_lightblue">
    <div class="li_page-padding">
        <div class="w-layout-blockcontainer li_container-medium w-container">
            <div class="li_section-large">
                <div class="li_wrapper">
                    <div class="li_heading-h2">
                        <!-- <p>Transform Theory into Practice with Our Internships</p> -->
                         <p>Transform Learning into Skills Through Internships</p>
                    </div>
                    <div class="div-block-1456">
                        <div class="internship-headings">
                            <div class="li_learn-time">
                                <div>On Job Oriented Trainings</div>
                            </div>
                            <div class="li_learn-time">
                                <div>Our Internship Programs</div>
                            </div>
                        </div>
                    </div>
                    <div class="li_learn-wrapper">
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">

                                    <div class="li_text-diff">Full Stack Java Mastery</div>
                                </div>
                                <div class="li_text-large">
                                    <ul>
                                        <li>Java with go live projects</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                   
                                </div>
                                <a [routerLink]="['/courses/java']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                            <div class="li_circle" data-aos="fade-in"></div>
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">

                                    <div class="li_text-diff">Angular MEAN stack</div>
                                </div>
                                <div class="li_text-large">
                                    <ul>
                                        <li>Professional Web Development</li>
                                        <li>Duration 4 months</li>
                                    <li>Technologies you will learn</li>
                                    </ul>
                                  </div>
                                <a [routerLink]="['/courses/angular']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-image-wrap" data-aos="fade-in">
                                <img src="/assets/img/courses/Java-img.jpg"
                                    alt="Full Stack Java Mastery Course - Hands-On Experience with Real Projects"
                                    class="li_learn-image">
                            </div>
                            <div class="li_circle2" data-aos="fade-in"></div>
                            <div class="li_learn-image-wrap" data-aos="fade-in">
                                <img src="/assets/img/courses/Angular-img.png"
                                    alt="Angular MEAN Stack Course - Comprehensive Job-Oriented Training"
                                    class="li_learn-image">
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">Full Stack .NET
                                        Excellence</div>
                                </div>
                                <div class="li_text-large">
                                    <ul>
                                        <li>.NET with go live projects</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                  
                                </div>
                                <a [routerLink]="['/courses/dotnet']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                            <div class="li_circle" data-aos="fade-in"></div>
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">React MERN Stack</div>
                                </div>
                                <div class="li_text-large">
                                    <ul>
                                        <li>Mastering Modern Web Development</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                   
                                </div>
                                <a [routerLink]="['/courses/react']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/dotnet.jpg" alt=".NET with go live projects" class="li_learn-image">
                            </div>
                            <div class="li_circle2" data-aos="fade-in"></div>
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/React-img.png" alt="React MERN Stack Course - Comprehensive Training" class="li_learn-image">
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">Manual And Automations</div>
                                </div>
                                <div class="li_text-large">
                                    <ul>
                                        <li>Mastering Professional Testing</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                   
                                </div>
                                <a [routerLink]="['/courses/testing']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                            <div class="li_circle" data-aos="fade-in"></div>
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">DevOps & cloud
                                        Integration</div>
                                </div>
                                <div class="li_text-large">
                                    <ul> <li>Training with Hands-on Project</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                   
                                </div>
                                <a [routerLink]="['/courses/devops']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/Testing-img.jpg" alt="Mastering Professional Testing with Manual and Automation" class="li_learn-image">
                            </div>
                            <div class="li_circle2" data-aos="fade-in"></div>
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/devops.jpg"  alt="DevOps & Cloud Integration Course" class="li_learn-image">
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">Manual And Automations</div>
                                </div>
                                <div class="li_text-large">
                                    <ul> <li>Mastering Professional Testing</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                   
                                </div>
                                <a [routerLink]="['/courses/testing']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                            <div class="li_circle" data-aos="fade-in"></div>
                            <div class="li_learn-content-wrap" data-aos="fade-in">
                                <div class="li_circle-row">
                                    <div class="li_text-diff">Python with Data
                                        Science</div>
                                </div>
                                <div class="li_text-large">
                                    <ul><li>Real world Skill with live Projects</li>
                                        <li>Duration 4 months</li>
                                        <li>Technologies you will learn</li>
                                    </ul>
                                    
                                </div>
                                <a [routerLink]="['/courses/paython']" class="li_button linkedin_btn w-inline-block">
                                    <div>View More</div>
                                </a>
                            </div>
                        </div>
                        <div class="li_learn-wrap"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/Testing-img.jpg" alt="Mastering Professional Testing with Manual and Automation" class="li_learn-image">
                            </div>
                            <div class="li_circle2" data-aos="fade-in"></div>
                            <div class="li_learn-image-wrap " data-aos="fade-in">
                                <img src="/assets/img/courses/paython.jpeg" alt="Python with Data Science - Hands-On Projects" class="li_learn-image">
                            </div>
                        </div>
                        <div class="li_learn-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>