<section class="li_section dark-blue">
  <div class="li_page-padding">
    <div class="w-layout-blockcontainer li_container-medium w-container">
      <div class="whatsapp-section">
        <div class="whatsapp-title">
          <!-- <p>Our Students Love CODEMIND</p> -->
           <p>CODEMIND: Loved by Learners, Trusted by Students</p>
        </div>
        <div class="owl-carousel-section2">
          <owl-carousel-o [options]="carouselOptions">
            <ng-container *ngFor="let studentReview of studentReviews">
              <ng-template carouselSlide>
                <div class="testimonial-box" (click)="openModal(studentReview)">
                  <div class="box-top">
                    <div class="profile">
                      <div class="name-user">
                        <strong>{{studentReview.name}}</strong>
                        <span>{{studentReview.username}}</span>
                      </div>
                    </div>
                    <div class="reviews">
                      <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fas"
                        [ngClass]="star <= studentReview.rating ? 'fa-star' : 'fa-star-half-alt'"></i>
                    </div>
                  </div>
                  <div class="client-comment">
                    <p>{{studentReview.comment}}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="testimonialModal" class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-body" *ngIf="selectedReview">
      <div class="profile">
       
        <div class="name-user">
          <strong>{{selectedReview?.name}}</strong>
          <span>{{selectedReview?.username}}</span>
        </div>
      </div>
      <div class="reviews">
        <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fas"
          [ngClass]="star <= selectedReview?.rating ? 'fa-star' : 'fa-star-half-alt'"></i>
      </div>
      <div class="client-comment">
        <p>{{selectedReview?.comment}}</p>
      </div>
    </div>
  </div>
</div>
