.event-container {
  background: #f5f5f5;
  margin-top: 100px;
  position: sticky;
  top:0px !important;
  z-index: 1000;
  font-family: IBM Plex Sans Condensed, sans-serif;  
}
.event-title{
  position: sticky;
  top:15px;
}
.event-title p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  line-height: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.event{
    background-color: #ecf2f5;
    // padding: 10px 0px 0px 0px;
    margin-left:50px;
    margin-right:50px;
    text-align: start;
    position: sticky;
    height: auto;
    top:80px !important;
    box-shadow: 0 -5px 10px rgb(209, 209, 209),0 5px 10px rgb(202, 199, 199); 
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.stricky-1{
  top: 15px !important;
  // background-color: #e3f2f9;
  // box-shadow: 3px -3px 3px #9cb3be;
  // border: 2px solid #a5d9f4;
  margin-left:50px;
  margin-right:50px; 
}
.stricky-2 {
  top: 25px !important; 
  // background-color: #e3e4f4;
  // box-shadow: 3px -3px 3px #b0dfd4;
  // border: 2px solid #a1f0de;5
  margin-left:30px;
  margin-right:30px;
}

.stricky-3 {
  top: 35px !important; 
  // background-color: #f6ecfe;
  // box-shadow: 3px -3px 3px #ab9cbe;
  // border: 2px solid #ab9cbe;
  margin-left:20px;
  margin-right:20px;
}

.event .title{
    // font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    // margin: 20px 0px 25px 0px;
    padding: 15px 0px 5px 0px;
    margin-left: 25px;
    font-family: IBM Plex Sans Condensed, sans-serif;  
}
.owl-carousel-container{
  margin: 0px 20px 0px 20px;

}
/* Services Row */
.services-row {
  font-family: IBM Plex Sans Condensed, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.service-col {
  flex: 1 1 calc(33.333% - 30px); 
  box-sizing: border-box;
  margin-bottom: 30px; 
}
home-service {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.home-service .img {
  overflow: hidden;
  border-radius: 10px;
}
h3{
    
  font-family: IBM Plex Sans Condensed, sans-serif !important;
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: bold;
  height: 32px;
  
}
.img img {
  width: 100%;
  height:35vh;
  border-radius: 10px;
  transition: transform 0.6s ease-in-out;
}
.home-service:hover img {
  transform: scale(1.2); 
}
.home-details {
  font-family: IBM Plex Sans Condensed, sans-serif;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(var(--color-black-rgb), .1);
  height: 190px;
  margin: -100px 30px 0;
  padding: 40px 30px;
  position: relative;
  text-align: center;
  transition: all .3s ease-in-out;
}
.service-icon-img {
  width: 40px; 
  height: auto;
  display: block;
  margin: 0 auto 15px; 
}
.icon {
  align-items: center;
  background-image: linear-gradient(101deg, #012d64, #06b0ff);
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  display: flex;
  font-size: 28px;
  height: 62px;
  justify-content: center;
  left: calc(50% - 36px);
  margin: 0 0 20px;
  position: absolute;
  top: -36px;
  transition: .3s ease-in-out;
  width: 62px;
}

.icon:hover {
  border: none;
}
p {
  font-size: 14px;
  color: #666;
  margin-bottom: 2px;
}

.button {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  height: 40px;
  // width: 120px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 10px 20px #0586ceb3;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url('https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf8fc_Group%2048098594.png'),
  linear-gradient(101deg, #012d64, #06b0ff);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -100% center; 
  animation: slideBackground 3s infinite linear;
  margin-top: 20px;
}
@keyframes slideBackground {
  0% {
    background-position: -100% center; 
  }
  50% {
    background-position: center center; 
  }
  100% {
    background-position: 100% center; 
  }
}

.button:hover {
  background-color: #0056b3;
}

.Schedule{
  background-image: linear-gradient(to right top, #127c29, #38982b, #5bb329, #80cf22, #a8eb12);
  padding: 0px 10px 5px 10px;
  position: absolute;
  top:0px;
  left:0px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.1rem;
}
.Schedule p{
  color: #fff;
}
.hightlight p{
  // background-color: #feffff;
  // background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, rgb(190, 185, 32) 100%);
  // color:#fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
 
}

.off-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .off{
  background-color: #f3f313;
  width: 70px;
  color: black;
  position: relative;
  bottom: -22px;
  border-radius: 5px;
  font-weight: bold;
  animation: zoomInOut 1s ease-in-out infinite;
}
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
}

::ng-deep .owl-carousel .owl-nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

::ng-deep .owl-carousel .owl-nav .owl-prev, 
::ng-deep .owl-carousel .owl-nav .owl-next {
  background-image: linear-gradient(99deg, #012d64, #06b0ff);
  border-radius: 100%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent; 
  font-size: 1.5rem; 
  line-height: 1; 
  text-align: center; 
  text-decoration: none; 
  transition: background 0.3s ease, transform 0.3s ease; 
  position: relative;
}
::ng-deep .owl-carousel .owl-nav .owl-prev::before {
  content: ''; 
  position: absolute;
  width: 20px; 
  height: 20px; 
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M14%2019l-7-7%207-7%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22/%3E%3C/svg%3E') no-repeat center center;
  background-size: contain;
}

::ng-deep .owl-carousel .owl-nav .owl-next::before {
  content: ''; 
  position: absolute;
  width: 20px; 
  height: 20px; 
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M10%2019l7-7-7-7%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22/%3E%3C/svg%3E') no-repeat center center;
  background-size: contain;
}

::ng-deep .owl-carousel .owl-nav .owl-prev:hover,
::ng-deep .owl-carousel .owl-nav .owl-next:hover {
  background: #026ba5;
  transform: scale(1.1); 
  color: transparent; 
}

@media (max-width: 360px){
  .event-container{
    position:static !important;
  }
  .event-title{
    position: static !important; 
  }
  .event{
    z-index: 999;
  }
  .event .title{
    font-size: 22px;
    padding: 0px;
  }
  .home-details{
    height: 260px;
  }
  .event-container .stricky-1{
    top: 130px !important; 
    margin-left: 40px;
    margin-right: 40px;
  }
  .event-container .stricky-2{
    top: 140px !important;
  }
  .event-container .stricky-3{
    top: 150px !important;
  }
  .img img{
    height: 30vh !important;
  }
  h3{
     margin-bottom: 60px;
  }
  .button{
    font-size: 13px;
  }

}

@media (max-width: 768px) {
  .event-container{
    position:sticky;
    top: 120px !important;
    z-index: 999 !important;
  }
  .event-title{
    position: sticky;
    top:135px !important;
  }
  .event{
    height: auto;
    padding: 5px 0px;
  }
  .event-title p{
    font-size: 22px;
  }
  .img img{
    height: 30vh !important;
  }
  .stricky-1{
    top: 180px !important;
    
  }
  .stricky-2{
    top: 190px !important;
    padding: 15px;

  }
  .stricky-3{
    top: 200px !important;
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  /*.event{
    height: auto;
    z-index: 1000;
  }
  
  .event .title{
    padding: 5px 0px 5px 0px;
  }
  .event-container{
    position:sticky;
    top: 120px !important;
    z-index: 999 !important;
  }
  .event-title{
    position: sticky;
    top:135px !important;
  }
  .stricky-1{
    top: 190px !important;
    
  }
  .stricky-2{
    top: 200px !important;
    padding: 15px;

  }
  .stricky-3{
    top: 210px !important;
    padding: 20px;
  }*/

}


