<section class="li_section li_lightblue">
    <div class="li_page-padding">
        <div class="w-layout-blockcontainer li_container-medium w-container">
            <div class="li_section-large">
           
                <div class="li_hero-wrapper">
                    <div class="li_heading-wrap">
                        <h2 class="li_heading"> Why Choose CODEMIND?</h2>
                        <!-- <h2 class="li_heading">CODEMIND: Key Advantages</h2> -->
                    </div>
                    <div class="li_sticky-wrap">
                        <div id="w-node-_2894afef-04dd-da24-29af-da75ec2280f0-fb037079" class="li_day-learn">
                            <div class="li_days-wrap">
                                <div class="li_lit-detail"><i class="fa-solid fa-location-dot"></i>
                                    <div class="li_text-large">100 % PLACEMENT ASSISTANCE
                                    </div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-2">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-hands-holding-child"></i>
                                    <div class="li_text-large">93% SUCCESS RATE</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-3">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-signal"></i>
                                    <div class="li_text-large">2000+ SUCCESSFUL ALUMNI</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-4">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-hand-holding-dollar"></i>
                                    <div class="li_text-large">LEARN FROM SCRATCH</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-5">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-users-viewfinder"></i>
                                    <div class="li_text-large">1:1 PERSONAL MENTORSHIP FROM INDUSTRY EXPERTS</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-5">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                    <div class="li_text-large">28 LPA(AVG.)CTC</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-5">
                                <div class="li_lit-detail">
                                    <i class="fa-solid fa-book-open"></i>
                                    <div class="li_text-large">147% (AVG.) SALARY HIKE</div>
                                </div>
                            </div>
                            <div class="li_days-wrap li_stiky-5">
                                <div class="li_lit-detail">
                                    <i><img src="https://static.thenounproject.com/png/199301-200.png"
                                            class="colored-image"></i>
                                    <div class="li_text-large">CAREER SERVICES</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>