.content {
  padding: 16px;
}

.top-cards {
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 100%;
  max-width: 150px;
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  box-shadow: 2px 2px 2px rgb(167, 166, 166);
}

.card:nth-child(1) {
  background-color: #094947;
}

.card:nth-child(2) {
  background-color: #074B12;

  .card-icon {
    color: white;
  }
}

.card:nth-child(3) {
  background-color: #7D0764;
}

.card:nth-child(4) {
  background-color: #71028D;
}

.card:nth-child(5) {
  background-color: #10028d;
}


.card-icon {
  font-size: 30px;
  color: #fff;
}


.filter-container {
  display: flex;
  justify-content: space-between;
}

.card-content {
  text-align: center;
}

.card-content .length {
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 12px;
  color: #fff;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.card.selected {
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 20px;
}

@media (max-width: 600px) {

  :host ::ng-deep .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 2px !important;
  }
}

@media (max-width: 600px) {
  .card-container {
    gap: 12px;
  }

  .card {
    width: 40% !important;
    padding: 15px;
  }

  .card-icon-container {
    height: 50px;
    width: 50px;
  }

  .content {
    margin-top: 10px;
  }

  .filter-container {
    display: block;
  }

  :host ::ng-deep .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    padding: 0 10px;
  }
}