// .loader-container {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1000;
// }
h1{
    background-color: #e3e7e4;
}
.section {
    margin-bottom: -0.5rem;
  }
  
.section h3 {
    margin-bottom: 0.5rem;
  }
.bottom-section{
    // background-color: #d6ddf3;
    margin-top: 10px;
}
:host ::ng-deep .mat-mdc-form-field{
    width: 48%;
    margin-left: 10px;  
}
:host ::ng-deep .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 320px;
    position: relative;
    box-sizing: border-box;
}
.save-btn{
    background-color: #3fb554;
    color:white !important;
    position: absolute;
    right: 20px;
}
.report-btn{
    background-color: #3fb554;
    color:white !important;
    position: absolute;
    right: 100px;
}
.cancel-btn{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 10px;
    color:rgb(230, 29, 29) !important;
}
 ::ng-deep .mdc-dialog .mdc-dialog__content {
    padding: 0px 24px 0px 24px;
}
/*:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color:#3fb554;
  }
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-line-ripple::before{
    border-bottom-color: #3fb554;
   } 

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    border-bottom-color: #3fb554;
   }

:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom: 2px solid #3fb554;
}*/
@media (max-width: 360px) {
    :host ::ng-deep .mat-mdc-text-field-wrapper {
        width: 70% !important;
    }
}
@media (max-width: 600px) {
    :host ::ng-deep .mat-mdc-text-field-wrapper {
    width: 90%;
    }

    :host ::ng-deep .mat-mdc-form-field{
        width: 100%;
        margin-left: 10px;  
    }
   
}