.li_section.li_skyblue {
    background-image: linear-gradient(98deg, #0b66c2, #009ad6);
    font-family: IBM Plex Sans Condensed, sans-serif;
    margin-bottom: 6rem;
    overflow: hidden;
}
.li_section {
    z-index: 1;
    position: relative;
}
.pmc_heading.pmc_white {
    color:#fff;
}
.pmc_heading {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 700;
   
}
.li_page-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.li_container-medium-m {
    max-width: 66.25rem;
}
.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.li_section-large {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.li_wrapper {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    flex-flow: column;
    align-items: center;
    margin-top: 40px;
    padding: 25px 46px 35px;
    display: flex;
    position: relative;
    width:70vw;
   
}

.li-price-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    inset: -85px 0% auto;
}
.div-block-1370 {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(88deg, #001823, #012d64);
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 18px 80px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
}
.li-web-details {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    font-size:1rem;
    height: 30vh;
}
.li-webinar-wrap {
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    display: flex;
}
.li_detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
  }
  .detail-icon {
    margin-right: 10px; /* Adjust as needed */
  }
  
  i {
   font-size: 30px;
    color: #0c93d2
  }
.li_button {
    color: #fff;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background-image: linear-gradient(101deg, #012d64, #06b0ff);
    border-radius: 74px;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px #0586ceb3;
    background-image: url('https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf8fc_Group%2048098594.png'),
    linear-gradient(101deg, #012d64, #06b0ff);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -100% center; 
    animation: slideBackground 3s infinite linear;
    margin-top: 50px;
}
@keyframes slideBackground {
    0% {
        background-position: -100% center; 
    }
    50% {
        background-position: center center; 
    }
    100% {
        background-position: 100% center; 
    }
}
.li-eclipse-wrap {
    z-index: -1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 390px;
    display: flex;
    position: absolute;
    inset: 90px auto auto 170px;
}
.li-eclipse-1 {
    opacity: .2;
    background-color: #009ad6;
    border-radius: 100vw;
    width: 170px;
    height: 170px;
    position: absolute;
}
.li-eclipse-2 {
    opacity: .2;
    background-color: #009ad6;
    border-radius: 100vw;
    width: 240px;
    height: 240px;
    position: absolute;
}
.li-eclipse-3 {
    opacity: .2;
    background-color: #009ad6;
    border-radius: 100vw;
    width: 314px;
    height: 314px;
    position: absolute;
}
.li-eclipse-4 {
    opacity: .2;
    background-color: #009ad6;
    border-radius: 100vw;
    width: 390px;
    height: 390px;
    position: absolute;
}
.li_text-large{
font-size: 1.3rem;
max-inline-size: 186px;
}
@media screen and (max-width: 767px) {
    .li-eclipse-wrap{
        display: none;
        
    }
    .li-weinar-wrap{
      //  padding: 71px 5px 35px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-bottom: 35px;
        padding-left: 27.5px;
        padding-right: 27.5px;
        padding-top: 70px;
        padding-bottom: 30px;
    }
        .li-web-details {
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-template-columns: 1fr;
            margin-top: -45px;
            height: auto;
            .li_text-large{
                font-size: 1rem;
                font-weight: 100;
            }
        
    }
    .li-webinar-wrap {
        border-bottom: 1px solid #0b66c2;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .div-block-1370 {
        width: 45%;
        font-size: 1.2rem;
        padding: 18px 60px;
    }
    .li_button{
        padding: 20px 45px;
       
    }
    .li_text{
padding: 10px;
    }
}




  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Adjust based on the number of slides */
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
   // justify-content: center;
    padding: 20px; /* Adjust padding if necessary */
  
  }
  
  /* Center the button */
  .slider-button-container {
    margin-top: 20px; /* Adjust spacing if necessary */
    text-align: center;
  }
  
  /* Navigation Buttons */
  .nav-buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .nav-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    //background-color: lightgray;
    background-image: linear-gradient(101deg, #012d64, #06b0ff);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  #slide1:checked ~ .slides {
    transform: translateX(0%);
  }
  
  #slide2:checked ~ .slides {
    transform: translateX(-100%);
  }
  
  #slide3:checked ~ .slides {
    transform: translateX(-200%);
  }
  #slide4:checked ~ .slides {
    transform: translateX(-300%);
  }
  #slide5:checked ~ .slides {
    transform: translateX(-400%);
  }
  #slide6:checked ~ .slides {
    transform: translateX(-500%);
  }
  #slide7:checked ~ .slides {
    transform: translateX(-600%);
  }
  input[type="radio"]:checked + .nav-buttons .nav-button {
    background-color: blue;
  }
  