// .loader-container {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1000;
//   }
  h1{
    //  background-color: #e3e7e4;
     margin-bottom: 6px;
  }
  .form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 10px;
  }
  mat-form-field {
    width: 50%;
  }
  :host ::ng-deep mdc-dialog .mdc-dialog__content {
        padding: 0px 24px 0px 24px !important;
    }
  
  // .bottom-section {
  //   margin-top: 10px;
  // }
  
  .save-btn {
    background-color: #3fb554;
    color: white !important;
    position: absolute;
    right: 20px;
  }
  
  .cancel-btn {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(230, 29, 29) !important;
  }
  
   
    @media (max-width: 600px) {
        mat-form-field {
            width: 100%;
        }
    }