.student-table {
    margin-bottom: 16px;
  }
.filter-container{
    display: flex;
    justify-content: space-between;
}
.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters{
    display: flex;
}
::ng-deep .mat-mdc-table thead {
    background-color: #d1d4d0 !important;
    color: white !important;
}
   
@media (max-width: 600px) {
 :host ::ng-deep .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      padding: 0 2px !important;
  }
}
@media (max-width: 600px) {
  .content {
      margin-top: 10px;
  }
  .filter-container {
      display:block;
  }
  :host ::ng-deep .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      padding: 0 10px;
  }
}
  