.content {
    padding: 16px;
  }
  .top-cards {
    margin-bottom: 16px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card {
    width: 100%;
    max-width: 280px;
  }
  .student-table {
    margin-bottom: 16px;
  }
  .dropdown-container {
    display: flex;
    justify-content: space-between;
  }
  .filters{
    display: flex;
    gap: 20px;
  }
  mat-paginator {
    margin: 16px 0;
  }
  .course-icon {
    font-size: 50px;
    margin-right: 10px;
    color: #3fb554;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .mat-icon-button {
    margin: 0; 
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .card {
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
  
  .card.selected {
    background-color: #8edb87; 
    color: white;
    .course-icon {
      color:white;
    }
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  .red-icon {
    color: red; 
  }
  .edit{
    background: none;
    border-style:none;
    cursor: pointer;
  }
  ::ng-deep .mat-mdc-table thead{
    background-color: #d1d4d0 !important;
    color: white !important;
  }
  /* Material */
  ::ng-deep .mat-primary .mat-mdc-select-arrow{
    color:#3fb554;
  }
  ::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color:#3fb554;
  }
  ::ng-deep .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--mdc-theme-primary, #3fb554)
  }
  ::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after{
    color: var(--mdc-theme-primary, #3fb554)
  }
  :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color:#3fb554;
  }
  /*-- Paginator --*/
  ::ng-deep .mat-mdc-paginator-container{
    background-color: rgb(241, 245, 240);
  }
  ::ng-deep {
    .mdc-notched-outline__leading, .mdc-notched-outline__trailing , .mdc-notched.outline__notch{
      border-color: #3fb554  !important;
    }
  }

  :host ::ng-deep .mat-paginator-page-size { 
      
      color: #3fb554 !important;
    
  }
  @media (max-width: 600px) {
    .card {
       width: 48% !important;
    }
    :host ::ng-deep .mdc-data-table__cell, .mdc-data-table__header-cell {
      padding: 0px 0px 0 2px !important;
    }
  }

  @media (max-width: 600px) {
    .card-container {
      gap: 12px;
    }
    .card {
      width: 100%;
      max-width: 185px;
    }
    .content {
      margin-top: 10px;
    }
    :host ::ng-deep .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 0px 0px 0 10px;
    }
  }
  