<footer class="footer-area">
   <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <a routerLink="/" class="logo">
                    <img class="footer-logo" src="assets/img/logo-shape.png" alt="logo" loading="lazy" />
                </a>
                <p>
                    Unlock your potential with <b>CODEMIND Technology</b>'s transformative courses in software development,
                    web design, and data science. Join us and embark on a journey of knowledge and growth.
                </p>
            </div>
           
            <div class="footer-section nav-section">
                <h3>NAVIGATIONS</h3>
                <ul class="footer-links-list">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about-us">About</a></li>
                    <li><a routerLink="/featured-courses">Courses</a></li>
                    <li><a routerLink="/events">Events</a></li>
                    <li><a routerLink="/contact-us">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section resources-section">
                <h3>RESOURCES</h3>
                <ul class="footer-links-list">
                    <li><a routerLink="/our-recent-placements">Student Success</a></li>
                </ul>
            </div>
            <div class="footer-section address-section">
                <h3>ADDRESS</h3>
                <ul class="footer-contact-info">
                    <li><i class="bx bx-map"></i>Ashtvinayak Building,<br />4th-Floor, Vinayak Colony, Kirti Classic, Near Luxmi Chowk, Hinjewadi, Pune-411058.</li>
                    <li><i class="bx bx-phone-call"></i><a href="tel:+44587154756">(+91) - 9665044698</a></li>
                    <li><i class="bx bx-phone-call"></i><a href="tel:+44587154756">(+91) - 9665044598</a></li>
                    <li><i class="bx bx-envelope"></i><a href="mailto:info@codemindtechnology.com">info@codemindtechnology.com</a></li>
                </ul>
               
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="footer-bottom-content">
                <div class="footer-left">
                    <p>© 2024 | All rights reserved by <b>CODEMIND Technology</b></p>
                </div>
                <div class="footer-right">
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
   
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    </div>
</footer>
