:host ::ng-deep .mat-mdc-form-field {
  width: 48%;
  margin-left: 10px;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  flex: auto;
  gap: 5px;
  min-width: 0;
  width: 320px;
  position: relative;
  box-sizing: border-box;
}

h1 {
  background-color: #e3e7e4;
}

.comment {
  color: rgb(0, 0, 0);
  margin-left: 10px;
}

.custom-color-button {
  color: white !important;
  background-color: #1f27bc;
  margin-left: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.save-btn {
  background-color: #3fb554;
  color: white !important;
}


.cancel-btn {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(230, 29, 29) !important;
}

:host ::ng-deep .mdc-dialog .mdc-dialog__content {
  padding: 0px 24px 0px 24px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: #3fb554;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-line-ripple::before {
  border-bottom-color: #3fb554;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
  border-bottom-color: #3fb554;
}

:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom: 2px solid #3fb554;
}

@media (max-width: 360px) {
  :host ::ng-deep .mat-mdc-text-field-wrapper {
    width: 95% !important;
  }
}

@media (max-width: 600px) {
  :host ::ng-deep .mat-mdc-text-field-wrapper {
    width: 95%;
  }

  :host ::ng-deep .mat-mdc-form-field {
    width: 100%;
  }
}