<section class="li_section li-overflow">
    <div class="li_page-padding">
        <div class="w-layout-blockcontainer li_container-large w-container">
            <div class="li_section-large-top">
                <div class="li_wrapper">
                    <!-- <h2 class="pmc_heading">Learners from brands like</h2> -->
                    <h2 class="pmc_heading">Key industry participants like</h2>
                    <div class="li_llogo-wrap">
                        <div class="li_learner-wrap">
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf8e8_Google_2015_logo.svg.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf908_d128930f5cf1b70e0d835c7959d4b77b.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/63c698560a57ab3deb917f5a/65b7b6689c6f57c676663314_uber.png" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf90a_7a6f3e4047e5e8631b50750a7ef39dc1.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf90e_bbc438e620707fcdd6569dde3799778c.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf912_2674dec53c3fb789d007262b61347126.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf910_4f7a76cb3b98ff357774ee61547119aa.webp" alt=""></div>
                            <div class="li_investor-logo-copy"><img src="https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf90c_aaa5b98fed6302c34bdea419cda119c7.webp" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
