.li_section.li-overflow {
    overflow: hidden;
}
.li_section {
    z-index: 1;
    position: relative;
}
.li_page-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.li_container-large {
    max-width: 80rem;
}
.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.li_section-large-top {
    padding-top: 6.25rem;
}
.li_wrapper {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pmc_heading {
    font-size: 2.5rem;
    line-height: 1.3;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
}
.li_llogo-wrap {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-self: flex-start;
    display: flex;
    margin-bottom: 100px;
    transform: translateY(-50%);
    animation: scroll-left 5s linear infinite;
    width: calc(100% * 2);
    direction: rtl;
}

@keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }

.li_learner-wrap {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: stretch;
    display: flex;
}
.li_investor-logo-copy {
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 64px;
    padding: 18px;
    display: flex;
}
img {
    max-width: 100%;
    display: inline-block;
}
.li_learner-wrap-2 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: stretch;
    display: flex;
}
@media screen and (max-width: 767px) {
    .li_llogo-wrap{
        width: auto;
    }
    .pmc_heading {
font-size: 1.3rem;
    }
}