<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav mode="over" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list class="list">
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/student-dashboard" (click)="onDashboardClick()">Dashboard
      </p>
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/student-dashboard" (click)="onMocksClick()">Mocks</p>
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/student-dashboard" (click)="onLeads()">Leads</p>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{role}} Dashboard</span>
      <span class="spacer"></span>
      <div class="profile-menu">
        <span class="username"> {{firstName}}</span>
        <div class="profile-pic" [matMenuTriggerFor]="menu">{{firstLetter}}</div>
      </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>