<!--<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav mode="over" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list class="list">
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/subadmin-dashboard" (click)="onDashboardClick()">Dashboard
      </p>
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/subadmin-dashboard" (click)="onMocksClick()">Feedback</p>
      <p *ngIf="role=='Sub-Admin'" class="item" routerLink="/subadmin-dashboard" (click)="onLeads()">Leads</p>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{role}} Dashboard</span>
      <span class="spacer"></span>
      <div class="profile-menu">
        <span class="username"> {{firstName}}</span>
        <div class="profile-pic" [matMenuTriggerFor]="menu">{{firstLetter}}</div>
      </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>-->

<mat-drawer-container class="sidenav-container" autosize>
  <!-- Sidenav -->
  <mat-drawer #sidenav mode="side" [(opened)]="isSidenavOpen" class="sidenav" [class.collapsed]="isSidenavCollapsed">
    <div class="profile-menu">
      <div class="profile-pic" [matMenuTriggerFor]="menu">{{firstLetter}}</div> 
      <div class="profile-name" *ngIf="!isSidenavCollapsed">
        <span class="username">{{firstName}}</span>
        <span class="role">{{role}}</span> 
      </div>
   
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu> 
    <div class="top-menu">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-nav-list class="list">
      <!-- Admin -->
      <p *ngIf="currentUrl=='admin-dashboard'" class="item" routerLink="/admin-dashboard" (click)="onClick('admin')" [ngClass]="{'selected': selectedItem === 'admin'}">
        <mat-icon>admin_panel_settings</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Admin</span>
      </p>
      <p *ngIf="currentUrl=='admin-dashboard'" class="item" routerLink="/subadmin-dashboard" (click)="onClick('sub-admin')" [ngClass]="{'selected': selectedItem === 'sub-admin'}">
        <mat-icon>verified_user</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Sub Admin</span>
      </p>
      <p *ngIf="currentUrl=='admin-dashboard'"  class="item" routerLink="/counselor-dashboard" (click)="onClick('counselor')" [ngClass]="{'selected': selectedItem === 'counselor'}">
        <mat-icon>group_add</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Counselor</span>
      </p>
      <p *ngIf="currentUrl=='admin-dashboard'"  class="item" routerLink="/student-issues-dashboard" (click)="onClick('Technical-Expert')" [ngClass]="{'selected': selectedItem === 'Technical-Expert'}">
        <mat-icon>support_agent</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Technical-Expert</span>
      </p>

      <!-- subAdmin-->
      <!-- <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard" (click)="onClick('sub-admin')" [ngClass]="{'selected': selectedItem === 'sub-admin'}">
        <mat-icon>admin_panel_settings</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Sub Admin</span>
      </p> -->
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/dashboard" (click)="onClick('dashboard')" [ngClass]="{'selected': selectedItem === 'dashboard'}">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Dashboard</span>
      </p>
      <!-- <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/feedback" (click)="onMocksClick()"  [ngClass]="{'selected': selectedItem === 'feedback'}">
        <mat-icon>feedback</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Feedback</span>
      </p> -->
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/lead" (click)="onClick('leads')" [ngClass]="{'selected': selectedItem === 'leads'}">
        <mat-icon>supervisor_account</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Students Leads</span>
      </p>
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/totalFees" (click)="onClick('totalFees')" [ngClass]="{'selected': selectedItem === 'totalFees'}">
        <mat-icon>monetization_on</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Payment Status</span>
      </p>

      <p *ngIf="currentUrl=='subadmin-dashboard'"  class="item" routerLink="/subadmin-dashboard/companyLeads" (click)="onClick('companyLeads')" [ngClass]="{'selected': selectedItem === 'companyLeads'}">
        <mat-icon>business_center</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Company Leads</span>
      </p>
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/collegeData" (click)="onClick('collegeInfo')"  [ngClass]="{'selected': selectedItem === 'collegeInfo'}">
        <mat-icon>school</mat-icon>
        <span *ngIf="!isSidenavCollapsed">College Data</span>
      </p>
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/scholarshipData" (click)="onClick('scholarship')"  [ngClass]="{'selected': selectedItem === 'scholarship'}">
        <mat-icon>stars</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Scholarship</span>
      </p>
      <p *ngIf="currentUrl=='subadmin-dashboard'" class="item" routerLink="/subadmin-dashboard/bootcamp" (click)="onClick('bootcamp')"  [ngClass]="{'selected': selectedItem === 'bootcamp'}">
        <mat-icon>laptop</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Bootcamp</span>
      </p>
      <p 
      *ngIf="currentUrl === 'subadmin-dashboard' || currentUrl === 'student-issues-dashboard'" 
      class="item" 
      [routerLink]="currentUrl === 'subadmin-dashboard' ? '/subadmin-dashboard/studentIssue' : 
                    '/student-issues-dashboard/studentIssue'" 
      (click)="onClick('studentIssue')"  
      [ngClass]="{'selected': selectedItem === 'studentIssue'}">
        <mat-icon>help_outline</mat-icon>
        <span *ngIf="!isSidenavCollapsed">Student Issues</span>
    </p>
    
      <p class="logout">
        <mat-icon>logout</mat-icon>
        <span (click)="logout()" *ngIf="!isSidenavCollapsed">Logout</span>
      </p>
    </mat-nav-list>
  </mat-drawer>

  <!-- Main content -->
  <mat-drawer-content [class.full-width]="isSidenavCollapsed">
    <!-- <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{role}} Dashboard</span>
      <span class="spacer"></span>
      <div class="profile-menu">
        <span class="username">{{firstName}}</span>
        <div class="profile-pic" [matMenuTriggerFor]="menu">{{firstLetter}}</div>
      </div>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu> -->

    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
