<section class="li_section li_skyblue" aria-labelledby="pricing-heading">
    <div class="li_page-paging">
        <div class="w-layout-blockcontainer li_container-medium-m w-container">
            <div class="li_section-large">
                <div id="sec5" *ngIf="courseDetail" data-aos="zoom-in">
                    <h3 class="coursetitle">{{ courseDetail.title }}</h3>
                    <div class="discription">
                        <img [src]="courseDetail.image" class="img-fluid" loading="lazy">
                        <div class="detail">
                            <!-- <h4 class="que">What is Java Development?</h4>
                            <p class="text_large">Master Java development with hands-on projects and expert guidance.
                                Dive into object-oriented programming, data structures, and multithreading. Build robust
                                applications for diverse domains. Enhance proficiency with modern frameworks like Spring
                                and Hibernate. Whether beginner or experienced, Java mastery unlocks opportunities in
                                software development.</p> -->
                                <h4 class="que">{{courseDetail.que}}</h4>
                                <p class="text_large">{{courseDetail.description}}</p>
                        </div>
                    </div>
                </div>
                <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
                    <mat-step label="About">
                        <div class="roadmap-container">
                            <h2>Quality Control Roadmap</h2>
                            <div class="roadmap">
                                <!-- Cards 1 to 4 -->
                                <div class="step" *ngFor="let step of courseDetail.details.slice(0, 4); let i = index"
                                    data-aos="fade-up">
                                    <div [ngClass]="getCircleClass(i)">
                                        <div class="icon"><i [class]="step.icon"></i></div>
                                    </div>
                                    <div [ngClass]="getContentClass(i)">
                                        <h3>{{ step.text }}</h3>
                                        <p [innerHTML]="step.points"></p>

                                    </div>
                                    <i class="arrow" [ngClass]="getArrowClass(i, courseDetail.details.length)"></i>
                                </div>

                                <!-- Cards 5 to 8 in reverse order -->
                                <div class="step"
                                    *ngFor="let step of courseDetail.details.slice(4, 8).reverse(); let i = index"
                                    data-aos="fade-up">
                                    <div [ngClass]="getCircleClass(i + 4)">
                                        <div class="icon"><i [class]="step.icon"></i></div>
                                    </div>
                                    <div [ngClass]="getContentClass(i + 4)">
                                        <h3>{{ step.text }}</h3>
                                        <p [innerHTML]="step.points"></p>
                                    </div>
                                    <i class="arrow" [ngClass]="getArrowClass(i + 4, courseDetail.details.length)"></i>
                                </div>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step label="Curriculum">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p [innerHTML]="courseDetail?.course?.namehtml?.type"></p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p [innerHTML]="courseDetail?.course?.namehtml?.subpoints"></p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p [innerHTML]="courseDetail?.course?.namecss?.type"></p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p [innerHTML]="courseDetail?.course?.namecss?.subpoints"></p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p [innerHTML]="courseDetail?.course?.nameangular?.type"></p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p [innerHTML]="courseDetail?.course?.nameangular?.subpoints"></p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p [innerHTML]="courseDetail?.course?.namejavascript?.type"></p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p [innerHTML]="courseDetail?.course?.namejavascript?.subpoints"></p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-step>
                    <mat-step label="Mentors">
                        <div class="profile-container">
                            <!-- Top section with image and About -->
                            <div class="profile-header">
                               
                                
                                    <div class="profile-image">
                                        <img src="/assets/img/all-course-icon.png" alt="Profile Image">
                                    </div>
                                   
                               
                                <div class="about">
                                <h2>About</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            </div>
                    <div class="bottom-area">
                        <div class="profile-details">
                            <h1>Jonathan Patterson</h1>
                            <div class="personal-info">
                                <p><strong>Age:</strong> 22</p>
                                <p><strong>Status:</strong> Single</p>
                                <p><strong>Location:</strong> 123 Anywhere St., Any City</p>
                                <p><strong>Job Title:</strong> Digital Marketing</p>
                            </div>
                        </div>
                
                        <!-- Personality and Skills -->
                        <div class="profile-content">
                            <div class="personality">
                                <h2>Personality</h2>
                                <ul>
                                    <li>Analytical</li>
                                    <li>Problem-Solving</li>
                                    <li>Public Speaking</li>
                                    <li>Adaptable</li>
                                </ul>
                            </div>
                        </div>
                        <div class="skills">
                            <h2>Skills</h2>
                            <ul>
                                <li>Lorem ipsum .</li>
                                <li>Sed do eiusmod .</li>
                                <li>Ut enim ad .</li>
                            </ul>
                        </div>
                    </div>
                           
                    
                            <!-- Goals -->
                            
                        </div> 
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Projects</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</section>