
.popup {
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #dbeffa
  }
  .popup-container{
    display:flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch !important;
    height: auto; 
    width: 100%;   
    // color:#f2d3fd;
  }
  .popup-top{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    // height: 357px;
    padding: 20px;
    background: linear-gradient(101deg, #012d64, #06b0ff);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: -3px 2px 10px gray;
  }
  .popup-top .image{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    z-index: 2px !important;
  }
  
  .popup-top .image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 2px;
  }
  .popup-content {
    background-color: white;
    width: 25%;
    max-width: 400px;
    padding: 20px;
    position: relative;
    height: auto;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 2px 2px 10px gray;
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  label{
    margin-left: 5px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  input{
    margin-top: 10px;
  }
  label::after{
    content: ' *';
    color: #d41c1c;
    font-weight: bold;
  }
  
  .input-wrapper .icon {
    position: absolute;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
    font-size: 20px;
    width: 35px;
    height: 50px;
    line-height: 50px;
    color: #999;
  }
  
  .input-wrapper .icon-email {
    color: #55b3ee;
  }
  
  .input-wrapper .icon-password {
    color: #55b3ee;
  }
  
  .input-wrapper .icon-password:hover {
    color: #70d33a; 
    cursor: pointer;
  }

  .email,
  .password {
    display: block;
    margin-bottom: 10px;
    width: 94%;
    height: 45px;
    border-radius: 10px;
    padding-left: 20px;
    border: 0.5px solid #06b0ff;
    letter-spacing: 2px;
    outline:#012d64;
  }
  
  .email:focus,
  .password:focus {
    border-color:#012d64;
  }
  
  .submit-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #f0f8ff;
    color: #f0f8ff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #f0f8ff;
    transition: transform 0.5s, background-color 1s;
    background-image: url('https://cdn.prod.website-files.com/5fdb2866020c200cd7fd7369/661511eb7522b300facbf8fc_Group%2048098594.png'),
    linear-gradient(101deg, #012d64, #06b0ff);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -100% center; 
    animation: slideBackground 3s infinite linear; 
  }
  @keyframes slideBackground {
    0% {
        background-position: -100% center; 
    }
    50% {
        background-position: center center; 
    }
    100% {
        background-position: 100% center; 
    }
}
  .button-container {
    text-align: center;
    margin-top: 20px;
}

.text-and-button {
    display: inline-flex;
    align-items: center;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}
  .singup-btn {
    display:block;
    color: #30e104;
    font-size: 1.3rem;
    border-style: none;
    background: none;
    text-decoration: none;
    font-weight: bold;
  }
  .singup-btn:hover {
    color:  #1d7bb5;
  }
  .submit-btn:active {
    transform: scale(0.9);
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 40%;
    border-style: none;
  }
  
  .error {
    color: rgb(252, 130, 130);
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  @media only screen and (max-width: 767px) {
    .popup-container{
      flex-direction: column;
      top: 45%;
      align-items: center !important;
    }
    .popup-top{
      width: 80%;
      height: 80px;
      // border-top-left-radius: 10px;
      // border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
    }
    .popup-content {
      width: 80%;
      border-radius: initial;
    }
    .popup-top .image{
      width: 50px;
      height: 50px;
    }
    .popup-top .image img{
      width: 50px;
      height: 50px;
    }
    h2{
      margin: 0px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .popup-container{
      transform: translateY(-60%);
    }
    .popup-top{
      height: 356px;
    }
    .popup-top .image{
      width: 80px;
      height: 80px;
    }
    .popup-top .image img{
      width: 80px;
      height: 80px;
    }
    .email,
    .password{
      width: 88%;
    }
    .text-and-button{
      font-size: 0.7rem;
    }
    .singup-btn{
      font-size: 0.7rem;
    }
    .input-wrapper .icon{
      right:-5px;

    }
    /*.popup-top .image::before,
    .popup-top .image::after {
      left: 27%;
      height: 25%;
      top: 38%;
    }*/
  }

  
  