    <div class="filter-container">
      <!-- <h2>BootCamp Students</h2> -->
      <div class="filters">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilterBootcamp($event)" placeholder="Search Students">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Payment_Status</mat-label>
        <mat-select [(value)]="selectedPaymentBootCamp" (selectionChange)="onCourseChange()">
          <mat-option *ngFor="let payment_status of payment_status" [value]="payment_status">{{ payment_status }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Source</mat-label>
        <mat-select [(value)]="selectedSourceBootCamp" (selectionChange)="onSourceChange()">
          <mat-option *ngFor="let  source_status of  source_status" [value]="source_status">{{ source_status }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon class="refresh-icon" (click)="refreshData()" mat-ripple>refresh</mat-icon>
      </div>
    </div>
    <table mat-table [dataSource]="filteredBootCamp" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let student"> {{student.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let student"> {{student.email}} </td>
      </ng-container>

      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment_Status </th>
        <td mat-cell *matCellDef="let student"> {{student.paymentStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let student">
          <button class="edit" (click)="editBootcampStudent(student)">
            <!-- <mat-icon class="blue-icon">drive_file_rename_outline</mat-icon> -->
            <i class="fa fa-pencil blue-icon"></i>
          </button>
          <button *ngIf="role=='Admin'" class="edit" (click)="deleteStudent(student)">
            <!-- <mat-icon class="red-icon">delete_forever</mat-icon> -->
            <i class="fa fa-trash red-icon"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsBootcamp"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumnsBootcamp;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator [length]="totalRecords" [pageSize]="limit" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
    (page)="onPageChange($event)">
